* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor-carta {
  background-color: rgb(212, 223, 224);
  width: 900px;
  height: 600px;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 8px 4px 20px 20px rgba(186, 198, 216, 0.911);
}

.contenedor-izquierda {
  border: 5px solid rgb(76, 51, 116) ;
  background-color: rgb(89, 61, 155);
  width: 450px;
  border-radius: 30px;
}

.contenedor-derecha {
  background-color: rgb(218, 231, 233);
  width: 450px;
}
