* {
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

h1 {
  background-color: rgb(170, 236, 231);
  display: inline;
}

p {
  background-color: aqua;
  display: block;
  margin: 10px;
  padding: 10px;
}

a {
  background-color: rgb(176, 106, 209);
  display: inline-block;
  border: 20px;
  margin: 10px;
  padding: 10px;
}

a {
  background-color: rgb(176, 106, 209);
  display: inline;
}
